:root {
    --top-bar-height: 60px;
    --top-bar-height2: 600px;
    --left-side-bar-width: 20vw;
}

#leftBar {
    height: 100%;
    position: fixed;
    left: 0;
    width: var(--left-side-bar-width);
    margin-top: var(--top-bar-height);
    background: rgb(30,30,30);
    user-select: none;
}

#fileStructure {
    font-size: 11px;
}

#fileStructure ul{
    list-style:none;
    padding-left: 0px;
    /*padding: 5vh 0vw 0vh 0vw;*/
    border-left: 1px solid rgb(80, 80, 80);
}
#fileStructure ul li{
    color:antiquewhite;
    /*border-top:1px solid rgba(0,255,0);
    border-bottom:1px solid rgba(0,255,0);*/
    padding-left: 7px;
}
#fileStructure ul .document{
    color:antiquewhite;
    display: inline-block;
    height: 20px;
}
#fileStructure ul .document:hover{
    background:rgba(22, 160, 133,0.8);
}
#fileStructure label:hover{
    background:rgba(22, 160, 133,0.8);
}
#fileStructure label{
    color:antiquewhite;
    height: 20px;
    padding: 0px;
    margin: 0px;
    cursor:pointer;
    /*border-top:1px solid rgba(0,255,0);
    border-bottom:1px solid rgba(0,255,0);*/
}
#fileStructure .folder{
    visibility:hidden;
    position:absolute;
}
#fileStructure .folder:checked ~ ul li{
    display:none;
    margin-top:0;
}

/* Arrow before opened folder */
#fileStructure .folder:checked ~ label::before{
    content: "";
    border: solid antiquewhite;
    display: inline-block;
    padding: 2.5px;
    margin: 0px 4px 0px 4px;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
}
/* Arrow before closed folder */
#fileStructure .folder:not(:checked) ~ label::before{
    content: "";
    border: solid antiquewhite;
    display: inline-block;
    padding: 2.5px;
    margin: 0px 4px 0px 4px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.main {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: fixed;
}



.headerBar {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background: rgb(40,40,40);
    position: fixed;
    height: var(--top-bar-height);
    overflow: hidden;
}

.content {
    left: var(--left-side-bar-width);
    position: relative;
    height: 100%;
    padding-top: var(--top-bar-height);
}


#editor { 
    width: 100%;
    height: 100%;
}