:root {
    --top-bar-height: 60px;
    --top-bar-height2: 600px;
    --left-side-bar-width: 15vw;
    --highlight-color: rgba(20, 160, 130, 0.7);
    --top-bar-color: rgb(40,40,40);
    --main-font-color: rgb(250, 235, 215);
}

#welcomeScreen {
    background-color: rgb(35,35,35);
    width: 100%;
    height: 100%;
}

#leftBar {
    height: 100%;
    position: fixed;
    left: 0;
    width: var(--left-side-bar-width);
    margin-top: var(--top-bar-height);
    background: rgb(30,30,30);
    user-select: none;
}

#fileStructure {
    font-size: 15px;
}

#fileStructure ul {
    list-style:none;
    padding-left: 0px;
    /*padding: 5vh 0vw 0vh 0vw;*/
    border-left: 1px solid rgb(190, 179, 164);
}
#fileStructure ul li {
    color: var(--main-font-color);
    margin-left: 8px; /* indentation of folder items */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#fileStructure ul .document {
    color: var(--main-font-color);
    /*display: inline-block;*/
    display: block;
    cursor:pointer;
    height: 24px;
    /*padding-left: 17px;*/ /* TODO: placeholder - replace this with a document symbol (or doc type) */
}
#fileStructure ul .document:hover {
    background: var(--highlight-color);
}

#fileStructure ul .document::before {
    content: "≡";
    color: var(--main-font-color);
    display: inline-block;
    margin: 0 2px 0 5px;
}

#fileStructure label:hover {
    background: var(--highlight-color);
}
#fileStructure label {
    color: var(--main-font-color);
    display: block;
    height: 24px;
    padding: 0 5px 0 0;
    margin: 0px;
    cursor:pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#fileStructure .folder {
    visibility:hidden;
    position:absolute;
}
#fileStructure .folder:not(:checked) ~ ul li {
    display:none;
    margin-top:0;
}

/* Arrow before closed folder */
#fileStructure .folder:not(:checked) ~ label::before {
    content: "";
    border: solid var(--main-font-color);
    display: inline-block;
    padding: 3px;
    margin: 0px 5px 1.5px 5px;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
}
/* Arrow before opened folder */
#fileStructure .folder:checked ~ label::before {
    content: "";
    border: solid var(--main-font-color);
    display: inline-block;
    padding: 3px;
    margin: 0px 5px 1.5px 5px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.tabBar {
    background: var(--top-bar-color);
    height: 35px;
    font-size: 17px;
    color: var(--main-font-color);
    user-select: none;
}

.tab {
    background: rgb(60,60,60);
    height: 100%;
    display: inline-block;
    cursor:pointer;
    border: solid var(--top-bar-color);
    border-width: 0 3px 0 0;
    --cross-color: rgb(150, 150, 150);
}

.tabContent {
    min-width: 110px;
    max-width: 160px;
    height: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    display: inline-block;
    padding: 0 10px 0 10px;
}

.tabActive {
    background: rgb(100,100,100);
    --cross-color: var(--main-font-color);
}

.tabRightmost {
    border: none;
}

.tab:hover {
    background: var(--highlight-color);
    --cross-color: var(--main-font-color);
}

.tabClose {
    display: inline-block;
    padding: 0 30px 35px 0;

}

.tabClose:hover {
    background: var(--highlight-color);
}

.tabClose::before, .tabClose::after {
    content: "";
    border: solid var(--cross-color);
    position: absolute;
    margin: 17px 0 0 7.5px;
    width: 15px;
    border-width: 0 0 2px 0;
}

.tabClose::before {
    transform: rotate(45deg);
}

.tabClose::after {
    transform: rotate(-45deg);
}

.main {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: fixed;
}



.headerBar {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background: var(--top-bar-color);
    position: fixed;
    height: var(--top-bar-height);
    overflow: hidden;
}

.content {
    left: var(--left-side-bar-width);
    position: relative;
    height: 100%;
    padding-top: var(--top-bar-height);
}


#editor { 
    width: 100%;
    height: 100%;
}