/*
TODO: handle bigger and smaller resolutions
*/

:root {
    --top-bar-height: 60px;
    --top-bar-height2: 600px;
    --left-side-bar-width: min(max(15vw, 200px), 300px);
    --highlight-color: rgba(20, 160, 130, 0.7);
    --active-tab-color: rgb(100, 100, 100);
    --active-file-color: rgb(80, 80, 80);
    --top-bar-color: rgb(40, 40, 40);
    --main-font-color: rgb(250, 235, 215);
    --file-structure-element-height: 24px;
    --workspace-link-margin-left: 10px;
}

#leftBar {
    height: 100%;
    position: fixed;
    left: 0;
    width: var(--left-side-bar-width);
    margin-top: var(--top-bar-height);
    background: rgb(30,30,30);
    user-select: none;
}

.selectionBar {
    list-style: none;
}

.bold {
    font-weight: bold;
}

.barLink {
    color: var(--main-font-color);
}

.barLink:hover, .workspaceLink:hover {
    text-decoration: none;
    color: var(--highlight-color);
}

.workspaceLinkContainer {
    border-bottom: 2px solid var(--top-bar-color);
    --link-height: 6vh;
    min-height: var(--link-height);
}

.workspaceLink {
    margin-left: var(--workspace-link-margin-left);
    color: var(--main-font-color);
    font-weight: bold;
    font-size: large;
    line-height: var(--link-height);
}

.workspaceList {
    padding-left: 0;
    list-style: none;
}

#fileStructure {
    font-size: 15px;
}

.waitingMessage {
    color: var(--main-font-color);
    margin: 5px 0 0 5px;
}

.fileOperation {
    color: var(--main-font-color);
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    padding: 0 3px 0 3px;
    background: rgb(60,60,60);
}

.fileOperation:hover {
    background: var(--highlight-color);
}

.divergenceSolver {
    color: var(--main-font-color);
    background: rgb(130,0,0);
    margin: 10px 10px 0px 10px;
    padding: 3px 3px 10px 3px;
    display: grid;
    width: inherit;
}

.divergenceSolver .divergenceButton {
    display: inline-block;
    cursor: pointer;
    background: rgb(200,0,0);
    padding: 0 3px 0 3px;
    margin: auto;
}

.divergenceSolver .divergenceButton:hover {
    background: rgb(255,0,0);
}

.divergenceSolver .divergenceSolverConfirmation {
    margin: auto;
}

#editableFile {
    height: var(--file-structure-element-height);
    color: var(--main-font-color);
    background: var(--active-file-color);
    width: 100%;
    outline: none;
    box-shadow: none;
    border: none;
}
#editableFile:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

#fileStructure ul {
    list-style:none;
    padding-left: 0px;
    border-left: 1px solid rgb(190, 179, 164);
}
#fileStructure ul li {
    color: var(--main-font-color);
    margin-left: 8px; /* indentation of folder items */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#fileStructure ul .document {
    color: var(--main-font-color);
    display: block;
    cursor: pointer;
    height: var(--file-structure-element-height);
}
#fileStructure ul .document:hover {
    background: var(--highlight-color);
}
#fileStructure ul .document.active {
    background: var(--active-file-color);
}

#fileStructure ul .document::before {
    content: "≡";
    color: var(--main-font-color);
    display: inline-block;
    margin: 0 2px 0 5px;
}

#fileStructure label:hover {
    background: var(--highlight-color);
}
#fileStructure label.active {
    background: var(--active-file-color);
}
#fileStructure label {
    color: var(--main-font-color);
    display: block;
    height: var(--file-structure-element-height);
    padding: 0 5px 0 0;
    margin: 0px;
    cursor:pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#fileStructure .folder {
    visibility:hidden;
    position:absolute;
}
.hidden {
    display:none;
    margin-top:0;
}
/*#fileStructure .folder:not(:checked) ~ ul li {
    display:none;
    margin-top:0;
}*/

/* Arrow before closed folder */
#fileStructure .folder:not(:checked) ~ label::before {
    content: "";
    border: solid var(--main-font-color);
    display: inline-block;
    padding: 3px;
    margin: 0px 5px 1.5px 5px;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
}
/* Arrow before opened folder */
#fileStructure .folder:checked ~ label::before {
    content: "";
    border: solid var(--main-font-color);
    display: inline-block;
    padding: 3px;
    margin: 0px 5px 1.5px 5px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.tabBar {
    background: var(--top-bar-color);
    height: 35px;
    font-size: 17px;
    color: var(--main-font-color);
    user-select: none;
}

.tab {
    background: rgb(60,60,60);
    height: 100%;
    display: inline-block;
    cursor:pointer;
    border: solid var(--top-bar-color);
    border-width: 0 3px 0 0;
    --cross-color: rgb(150, 150, 150);
}

.tabContent {
    min-width: 110px;
    max-width: 160px;
    height: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    display: inline-block;
    padding: 0 10px 0 10px;
}

.tabActive {
    background: var(--active-tab-color);
    --cross-color: var(--main-font-color);
}

.tabRightmost {
    border: none;
}

.tab:hover {
    background: var(--highlight-color);
    --cross-color: var(--main-font-color);
}

.tabClose {
    display: inline-block;
    padding: 0 30px 35px 0;

}

.tabClose:hover {
    background: var(--highlight-color);
}

.tabClose::before, .tabClose::after {
    content: "";
    border: solid var(--cross-color);
    position: absolute;
    margin: 17px 0 0 7.5px;
    width: 15px;
    border-width: 0 0 2px 0;
}

.tabClose::before {
    transform: rotate(45deg);
}

.tabClose::after {
    transform: rotate(-45deg);
}

.main {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: fixed;
}



.headerBar {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background: var(--top-bar-color);
    position: fixed;
    height: var(--top-bar-height);
    overflow: hidden;
}

.content {
    margin-left: var(--left-side-bar-width);
    height: calc(100vh - var(--top-bar-height));
    margin-top: var(--top-bar-height);
    background-color: rgb(35,35,35);
    color: var(--main-font-color);
}

.right {
    float: right;
    white-space: nowrap;
}

.options {
    display: inline;
    margin-top: 5px;
    margin-right: 1vw;
    font-size: large;
}

.login {
    display: inline;
    margin-top: 5px;
    margin-right: 1vw;
    font-size: large;
}

.logo {
    display: inline-block;
    color: var(--main-font-color);
    margin-top: 5px;
    margin-left: 1vw;
    font-size: xx-large;
    font-weight: bold;
}

.logo:hover {
    text-decoration: none;
    color: var(--highlight-color);
}

.createSegment {
    padding: 5px 0 5px 1vw;
}

.title {
    margin-left: var(--workspace-link-margin-left);
    margin-right: var(--workspace-link-margin-left);
    color: var(--main-font-color);
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 5vh;
}

.createInput {
    border-radius: 4px;
    color: var(--main-font-color);
    background: grey;
    outline: none;
    box-shadow: none;
    border: none;
    display: block;
    height: 40px;
    width: 92%;
}

.createInput:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.createName {
    color: var(--main-font-color);
    display: block;
    font-weight: bold;
    font-size: larger;
    margin: 0;
}

.workspacesTitle {
    margin-left: var(--workspace-link-margin-left);
    margin-right: var(--workspace-link-margin-left);
    color: var(--main-font-color);
    font-weight: bold;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
}

.workspacesTitleText{
    font-size: xx-large;
    display: inline-block;
}

.newButton {
    margin-left: 10px;
    background: rgb(14, 216, 14);
    color: var(--main-font-color);
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    border: none;
    /*width: 92%;*/
}

.createWorkspaceButton {
    background: rgb(14, 216, 14);
    color: var(--main-font-color);
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    border: none;
    margin: 5vh 0 5px 0;
    font-size: x-large;
    width: 92%;
    height: 50px;
}

.inlineBlock {
    display: inline-block;
}

.deleteWorkspaceButton {
    background: rgb(228, 67, 4);
    color: var(--main-font-color);
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    border: none;
    margin: 5px;
    font-size: large;
}

#editor { 
    width: 100%;
    height: 100%;
}